.main-content {
    width: 100%;
    height: 100%;
    padding-top: 80px;
}

.main-content .content-area {
    margin: auto;
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

.content-area .left-article {
    width: 960px;
}

.content-area .left-article .article-part {
    width: 100%;
    height: 372px;
    padding: 20px 30px 25px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 4px;
}

.content-area .left-article .article-part:nth-child(1) {
    margin-top: 0;
}

.left-article .article-part .article-content {
    width: 100%;
    height: 100%;
}

.article-content .article-title {
    padding: 5px 130px 5px 0;
    border-bottom: 1px solid rgb(136, 135, 135);
}

.article-title a {
    font: 14px/1.5 "Helvetica neue", Helvetica, Tahoma, "lantinghei sc", "Microsoft Yahei", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #212220;
}

.article-content .content-box {
    display: flex;
    margin-top: 20px;
    height: 200px;
}

.content-box .article-img {
    flex: 0 0 300px;
    /* width: 300px; */
    height: 180px;
    background-color: rgb(223, 129, 220);
}

.content-box p {
    font-size: 14px;
    color: #6d6d6a;
    padding-left: 15px;
    overflow: hidden;
}

.article-content .read-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.read-more a {
    font: 14px/1.5 "Helvetica neue", Helvetica, Tahoma, "lantinghei sc", "Microsoft Yahei", sans-serif;
    font-weight: bold;
    color: #212220;
}

.read-more .read-line {
    flex: 0 1 800px;
    height: 1px;
    background-color: rgb(136, 135, 135);
}

.article-content .content-footer {
    height: 26px;
}

.article-content .content-footer {
    display: flex;
    justify-content: space-between;
}

.content-footer .f-fl a {
    font: 14px/1.5 "Helvetica neue", Helvetica, Tahoma, "lantinghei sc", "Microsoft Yahei", sans-serif;
    vertical-align: middle;
    font-style: normal;
    display: inline-block;
    font-size: 12px;
    padding: 2px 5px;
    background-color: #f1f2f0;
    color: #787977;
    margin: 2px;
    transition: all .2s;
}

.content-footer .f-fl::before {
    content: '\e936';
    font-family: 'icomoon';
    font-size: 12px;
    color: #787977;
}

.content-footer .f-fr {
    width: 130px;
    display: flex;
    justify-content: space-around;
    font: 14px/1.5 "Helvetica neue", Helvetica, Tahoma, "lantinghei sc", "Microsoft Yahei", sans-serif;
    color: #787977;
}

.content-footer .f-fr i {
    font: 14px/1.5 "Helvetica neue", Helvetica, Tahoma, "lantinghei sc", "Microsoft Yahei", sans-serif;
    color: #787977;
    font-style: normal;
}

.read-comment::before {
    content: '\e901';
    font-family: 'icomoon';
    margin-right: 5px;
}

.content-area .right-nav {
    width: 300px;
}

.right-nav .right-st {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #fff;
}

.right-nav .right-st:nth-child(1) {
    margin-top: 0;
}

.right-nav .nav-search {
    overflow: hidden;
    background-color: #fff;
}

.nav-search .search-wrap {
    width: 300px;
    height: 80px;
    background-color: #282828;
}

.nav-search .search {
    width: 260px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(235, 232, 232);
    border-radius: 30px;
    position: relative;
    z-index: 5;
}

.nav-search .search input {
    width: 220px;
    height: 40px;
    margin-left: 20px;
    background: none;
    outline: none;
    border: none;
}

.nav-search .search i {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    color: rgb(119, 116, 116);
}

.nav-search .search i:hover {
    cursor: pointer;
}

.nav-search .search i::after {
    content: '\e902';
    font-family: 'icomoon';
    font-style: normal;
}

.essay .category {
    margin: 30px 0;
}

.essay .category li {
    height: 40px;
}

.essay .category .slider {
    background-color: #f1f2f0;
    border-right: 2px solid #dadbd9;
}

.essay .category li a {
    display: block;
    height: 40px;
    margin: 0 30px;
    padding: 0 20px;
    line-height: 40px;
    color: rgb(84, 82, 82);
}

.right-st h5 {
    width: 260px;
    height: 41px;
    margin: auto;
    font-size: 18px;
    font-weight: normal;
    line-height: 41px;
    color: #535352;
    border-bottom: 1px solid rgb(198, 197, 197);
}

.right-st ul {
    margin: 10px auto 0;
}

.popular-articles ul li {
    width: 260px;
    height: 32px;
    /* 强制单行显示 */
    white-space: nowrap;
    /* 溢出的部分隐藏 */
    overflow: hidden;
    /* 文字用省略号代替超出部分 */
    text-overflow: ellipsis;
}

.popular-articles ul li a {
    font-size: 14px;
    color: #787977;
}

.classification ul {
    margin: 10px auto;
}

.classification ul li {
    margin-top: 15px;
    width: 260px;
    height: 32px;
}

.classification ul li a {
    display: flex;
    justify-content: space-between;
}

.classififcation-l {
    display: flex;
}

.classification-img {
    display: block;
    overflow: hidden;
    width: 24px;
    height: 24px;
    background-color: rgb(46, 199, 41);
}

.classification-name {
    margin-left: 10px;
    font-size: 14px;
    color: #555666;
}

.classification-num {
    font-size: 14px;
    color: #999AAA;
}